.site_title span{
    color:brown;
    font-weight:500;
    font-size:30px;
}
.nav a{
    font-weight: bold;
    font-size: 16px;
}
.nav li:hover{
    background-color:#979dc21e;
    color:white;
    transition:0.5s;
}
